<link rel="stylesheet" href="../../common/reset.css">
<link rel="stylesheet" href="carousel.css">


<aside su="." style="--w:400px;--h:300px;--p:20px;">
    <button></button>
    <button></button>
    <button></button>
    <button></button>
    <button></button>
    <ul>
        <li style="background:gray;">
            <a>111</a>
        </li>
        <li style="background:orange;">
            <a>222</a>
        </li>
        <li style="background:teal;">
            <a>333</a>
        </li>
        <li style="background:blue;">
            <a>444</a>
        </li>
        <li style="background:black;">
            <a>555</a>
        </li>
    </ul>

</aside>