<link rel="stylesheet" href="layout.css">
<link rel="stylesheet" href="../common/reset.css">
<link rel="stylesheet" href="../common/color.css">
<div su-row style="--h:var(--h2)">
    <div su="primary" su-col style="--sm:3;--md:4;--lg:12;"></div>
    <div su="light" su-col style="--sm:3;--md:4;--lg:12;"></div>
    <div su="info" su-col style="--sm:3;--md:4;--lg:12;"></div>
</div>

<div su-row style="--h:100px">
    <div su="warning" su-col style="--col:0.22;"></div>
    <div su="info" su-col style="--col:0.33;"></div>
    <div su="primary" su-col style="--col:0.44;"></div>
</div>