<link rel="stylesheet" href="layout.css">
<link rel="stylesheet" href="../common/reset.css">
<link rel="stylesheet" href="../common/color.css">
<div su-row style="--row:2">
    <div su="primary" su-col style="--sm:3;--md:4;--lg:12;"></div>
    <div su="light" su-col style="--sm:3;--md:4;--lg:12;"></div>
    <div su="info" su-col style="--sm:3;--md:4;--lg:12;"></div>
</div>

<div su-row style="--row:10">
    <div su="warning" su-col style="--col:0.22;"></div>
    <div su="info" su-col style="--col:0.33;"></div>
    <div su="primary" su-col style="--col:0.44;"></div>
</div>
<style>
    div {
        background: rgba(0, 0, 0, 0.1)
    }
</style>

<div su-flex="row !wrap jc-100 ai-100 ac-100 ">1</div>
<div su-flex="-row wrap jc-001 ai-001 ac-001">2</div>
<div su-flex="col -wrap jc-010 ai-010 ac-010">3</div>
<div su-flex="-col jc-101 ai-baseline ac-101">4</div>
<div su-flex="jc-around ai-stretch ac-around">5</div>
<div su-flex="ac-stretch">5</div>