html {
    line-height: 1.4286;
    font-size: 14px;
}

body {
    --x1: 0.71429rem;
    --x2: calc(2 * var(--x1));
    --x3: calc(3 * var(--x1));
    --x4: calc(4 * var(--x1));
    --x5: calc(5 * var(--x1));
    --x6: calc(6 * var(--x1));
    --x7: calc(7 * var(--x1));
    --x8: calc(8 * var(--x1));
    --x9: calc(9 * var(--x1));
}

div[su-row] {
    display: block;
    float: left;
    min-height: var(--h);
    width: 100%;
    background: gray;
}

div[su-col] {
    min-height: var(--h);
    line-height: var(--h);
    display: block;
    float: left;
    width: calc(100% * var(--col));
}

@media screen and (max-width:480px) {
    div[su-col] {
        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width:720px) {
    div[su-col] {
        --col: calc(var(--sm) / 12);
    }
}

@media screen and (min-width: 721px) and (max-width:1199px) {
    div[su-col] {
        --col: calc(var(--md) / 12);
    }
}

@media screen and (min-width:1200px) {
    div[su-col] {
        --col: calc(var(--lg) / 12);
    }
}