html {
    line-height: 1.4286;
    font-size: 14px;
}

body {
    --x1: 10px;
    --x2: calc(2 * var(--x1));
    --x3: calc(3 * var(--x1));
    --x4: calc(4 * var(--x1));
    --x5: calc(5 * var(--x1));
    --x6: calc(6 * var(--x1));
    --x7: calc(7 * var(--x1));
    --x8: calc(8 * var(--x1));
    --x9: calc(9 * var(--x1));
    --h: 2;
}

div[su-row],
div[su-col] {
    display: inline-block;
    line-height: 0;
    clear: both;
    width: 100%;
    letter-spacing: 0;
    font-size: 0;
    vertical-align: bottom;
    min-height: calc(var(--h) * var(--x1));
}

div[su-col] {
    clear: none;
    width: calc(100% * var(--col));
}

@media screen and (max-width:480px) {
    div[su-col] {
        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width:720px) {
    div[su-col] {
        --col: calc(var(--sm) / 12);
    }
}

@media screen and (min-width: 721px) and (max-width:1199px) {
    div[su-col] {
        --col: calc(var(--md) / 12);
    }
}

@media screen and (min-width:1200px) {
    div[su-col] {
        --col: calc(var(--lg) / 12);
    }
}