html {
    line-height: 1.4286;
    font-size: 14px;
}

body {
    --x1: 10px;
    --x2: calc(2 * var(--x1));
    --x3: calc(3 * var(--x1));
    --x4: calc(4 * var(--x1));
    --x5: calc(5 * var(--x1));
    --x6: calc(6 * var(--x1));
    --x7: calc(7 * var(--x1));
    --x8: calc(8 * var(--x1));
    --x9: calc(9 * var(--x1));
    --h: 2;
}

div[su-row] {
    display: flex;
    flex-wrap: wrap;
    min-height: 1px;
    clear: both;
}

div[su-col] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    clear: none;
    width: calc(100% * var(--col));
    min-height: 1px;
}

@media screen and (max-width:480px) {
    div[su-col] {
        width: auto!important;
    }
}

@media screen and (min-width:481px) and (max-width:720px) {
    div[su-col] {
        --col: calc(var(--sm) / 12);
    }
}

@media screen and (min-width: 721px) and (max-width:1199px) {
    div[su-col] {
        --col: calc(var(--md) / 12);
    }
}

@media screen and (min-width:1200px) {
    div[su-col] {
        --col: calc(var(--lg) / 12);
    }
}

[su-flex] {
    display: flex;
}

[su-flex~="row"] {
    flex-direction: row
}

[su-flex~="-row"] {
    flex-direction: row-reverse
}

[su-flex~="col"] {
    flex-direction: column
}

[su-flex~="-col"] {
    flex-direction: column-reverse
}

[su-flex~="!wrap"] {
    flex-wrap: nowrap
}

[su-flex~="wrap"] {
    flex-wrap: wrap
}

[su-flex~="-wrap"] {
    flex-wrap: wrap-reverse
}

[su-flex~="jc-100"] {
    justify-content: flex-start
}

[su-flex~="jc-001"] {
    justify-content: flex-end
}

[su-flex~="jc-010"] {
    justify-content: center
}

[su-flex~="jc-101"] {
    justify-content: space-between
}

[su-flex~="jc-around"] {
    justify-content: space-around
}

[su-flex~="ai-100"] {
    align-items: flex-start
}

[su-flex~="ai-001"] {
    align-items: flex-end
}

[su-flex~="ai-010"] {
    align-items: center
}

[su-flex~="ai-101"] {
    align-items: space-between
}

[su-flex~="ai-baseline"] {
    align-items: baseline
}

[su-flex~="ai-stretch"] {
    align-items: stretch
}

[su-flex~="ac-100"] {
    align-content: flex-start
}

[su-flex~="ac-001"] {
    align-content: flex-end
}

[su-flex~="ac-010"] {
    align-content: center
}

[su-flex~="ac-101"] {
    align-content: space-between
}

[su-flex~="ac-around"] {
    align-content: space-around
}

[su-flex~="ai-stretch"] {
    align-content: stretch
}