body[su~="-"] {
    background: linear-gradient(to right top, var(--Primary) 50%, var(--White) 50%);
    background-size: 100% calc(100% - 99.6vh);
}

body[su~="-"]:before {
    content: '';
    position: fixed;
    top: 2px;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: var(--White);
}