#frame {
    position: absolute;
    width: var(--w);
    height: var(--h);
    overflow: hidden;
}

#photos {
    position: absolute;
    width: calc(var(--w) * 5);
    animation: ma 20s ease-out infinite alternate;
}

#photos div {
    float: left;
    width: var(--w);
    height: var(--h);
    background-size: cover;
}

#photos div::after {
    content: attr(title);
    display: block;
    opacity: 0.5;
    width: 200px;
    height: 20px;
    margin: 0 50px;
    float: left;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background: #000;
}

@keyframes ma {
    /*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
    0%,
    20% {
        margin-left: 0px;
    }
    25%,
    40% {
        margin-left: calc(0px - 1*var(--w));
    }
    45%,
    60% {
        margin-left: calc(0px - 2*var(--w));
    }
    65%,
    80% {
        margin-left: calc(0px - 3*var(--w));
    }
    85%,
    100% {
        margin-left: calc(0px - 4*var(--w));
    }
}

.num {
    position: absolute;
    z-index: 10;
    display: inline-block;
    right: 10px;
    top: 165px;
    border-radius: 100%;
    background: #f00;
    width: 25px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    opacity: 0.8;
}

.num:hover {
    background: #00f;
}

.num:hover,
#photos:hover {
    animation-play-state: paused;
}

.num:nth-child(2) {
    margin-right: 30px
}

.num:nth-child(3) {
    margin-right: 60px
}

.num:nth-child(4) {
    margin-right: 90px
}

.num:nth-child(5) {
    margin-right: 120px
}

#a1:hover~#photos {
    animation: ma1 .5s ease-out forwards;
}

#a2:hover~#photos {
    animation: ma2 .5s ease-out forwards;
}

#a3:hover~#photos {
    animation: ma3 .5s ease-out forwards;
}

#a4:hover~#photos {
    animation: ma4 .5s ease-out forwards;
}

#a5:hover~#photos {
    animation: ma5 .5s ease-out forwards;
}

@keyframes ma1 {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: -0px;
    }
}

@keyframes ma2 {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: -300px;
    }
}

@keyframes ma3 {
    100% {
        margin-left: -600px;
    }
}

@keyframes ma4 {
    100% {
        margin-left: -900px;
    }
}

@keyframes ma5 {
    100% {
        margin-left: -1200px;
    }
}