#frame {
    position: absolute;
    width: var(--w);
    height: var(--h);
    overflow: hidden;
}

ul {
    position: absolute;
    width: calc(var(--w) * 5);
    animation: ma 20s ease-out infinite alternate;
}

ul li {
    float: left;
    width: var(--w);
    height: var(--h);
    background-size: cover;
}

ul li a {
    display: block;
    width: calc(0.8 * var(--w));
    float: left;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0px;
    height: calc( 0.2 * var(--h));
    margin-left: calc(0.1 * var(--w));
    text-shadow: 0 0 5px black;
}

@keyframes ma {
    0%,
    20% {
        margin-left: 0px;
    }
    25%,
    40% {
        margin-left: calc(0px - 1*var(--w));
    }
    45%,
    60% {
        margin-left: calc(0px - 2*var(--w));
    }
    65%,
    80% {
        margin-left: calc(0px - 3*var(--w));
    }
    85%,
    100% {
        margin-left: calc(0px - 4*var(--w));
    }
}

#frame>button,
input {
    position: absolute;
    z-index: 10;
    display: inline-block;
    right: 10px;
    top: calc(var(--h) - 30px);
    border-radius: 100%;
    background: #f00;
    width: 25px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    opacity: 0.8;
}

#frame>button:hover {
    background: #00f;
}

#frame>button:hover,
ul:hover {
    will-change: transform;
    animation-play-state: paused;
}

button:nth-child(2),
input:nth-of-type(2) {
    margin-right: 30px
}

button:nth-child(3) {
    margin-right: 60px
}

button:nth-child(4) {
    margin-right: 90px
}

button:nth-child(5) {
    margin-right: 120px
}

input {
    position: absolute;
}

button:nth-child(1):focus-within~ul {
    animation: ma1 .5s ease-out forwards;
}

button:nth-child(2):focus-within~ul {
    animation: ma2 .5s ease-out forwards;
}

button:nth-child(3):focus-within~ul {
    animation: ma3 .5s ease-out forwards;
}

button:nth-child(4):focus-within~ul {
    animation: ma4 .5s ease-out forwards;
}

button:nth-child(5):focus-within~ul {
    animation: ma5 .5s ease-out forwards;
}

@keyframes ma1 {
    0% {
        margin-left: calc(-4 * var(--w));
    }
    100% {
        margin-left: -0px;
    }
}

@keyframes ma2 {
    0% {
        margin-left: calc(-4 * var(--w));
    }
    100% {
        margin-left: calc(-1 * var(--w));
    }
}

@keyframes ma3 {
    100% {
        margin-left: calc(-2 * var(--w));
    }
}

@keyframes ma4 {
    100% {
        margin-left: calc(-3 * var(--w));
    }
}

@keyframes ma5 {
    100% {
        margin-left: calc(-4 * var(--w));
    }
}