<link rel="stylesheet" href="../../../web/sultana.css">
<table su>
    <colgroup>
        <col span="1" style="background-color:inherit;position: absolute;">
        <col style="background-color:inherit">
    </colgroup>
    <thead>
        <tr>
            <th>Month</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Sum</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>January</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
    </tbody>
</table>