<link rel="stylesheet" href="../../../web/sultana.css">
<table su="index zebra">
    <colgroup>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>Month</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
            <th>Savings</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td><a href="javascript:">小计</a></td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
        <tr>
            <td><a href="javascript:">合计</a></td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>January</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
        <tr>
            <td>January</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
        <tr>
            <td>January</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
            <td>$180</td>
        </tr>
    </tbody>
</table>